
version: 2
jobs:
  build:
    parallelism: 1
    machine: true
    steps:
    - checkout
    - run:
        name: Download OpenAPI file via Curl from github
        command: make pull-openapi
    - run: ls
    - run: cat pom.xml | grep -m1 "version" | cut -d'>' -f2 | cut -d'<' -f1
    - run:
        name: Build generated code using Docker cli openapigenerator
        command: make build-openapi
    - run:
        name: Build Docker image for running java tests
        command: docker build -t plaid-java .
    - run:
        name: Run java tests in Docker
        command: docker run --rm -e PLAID_CLIENT_ID=$PLAID_CLIENT_ID -e PLAID_SECRET=$PLAID_SECRET plaid-java
