
version: 2
jobs:
  build:
    machine:
      image: ubuntu-2004:202201-02
    steps:
    - checkout
    - run:
        name: Build Docker image for running java tests
        command: docker build -t plaid-java .
    - run:
        name: Run java tests in Docker
        command: docker run --rm -e PLAID_CLIENT_ID=$PLAID_CLIENT_ID -e PLAID_SECRET=$PLAID_SECRET plaid-java
